@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200;300;500&family=Prompt:wght@200&family=Roboto+Mono&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
    line-height: 1.2;
    font-size:  20px;
}



h1 {
    font-size: 36px;
    padding-top: 5px;
    padding-bottom: 5px;
}

h2 {
    font-size: 28px;
    padding-top: 5px;
    padding-bottom: 5px;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
    color: inherit;
}

body header nav ul {
    position: fixed;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 90px;
    background-image: url(img/rosa.jpg);
    padding: 30px;
    box-shadow: 0 10px 25px 8px #272643;
    width: 100%;
    font-family: 'Roboto Mono', monospace;
}

button {
    background: #ef79d7;
    border: 0;
    outline: 0;
    font-size: small;
    
}

button i:hover {
    background-color: #ef79d7;

   
}

header a:hover {
    background-color: #ef79d7;
    
}



.fotoangela{
    position: relative;
    top: 50px;
    display: block;
    width: 300px;
    border-radius: 100%;
    margin:0 auto;
}


#logoangela {
    max-height: 75px;
}

body {
    width: 720px;
    height: 1280px;
    max-width: 100%;
    max-height: 100%;
    margin: 0px;
    border: 0px;
    background-color:#ffffe5;
    text-align: center;
    font-family: 'Roboto Mono', monospace;
}

section {
    padding-top: 10px;
    padding-bottom: 10px;
}



#inicio figure img {
    height: 200px;
    width: 200px;
    border-radius: 100%;
   
}

#inicio {
    padding-top: 100px;
}

#inicio a {
    background-color: #ef79d7;
    border-radius: 30%;
    font-size: 20px;
    width: 200px;
    height: 50px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    color: #121307;
}

#inicio a:hover {
    color: #121307;
    background-color: #ef79d7;
    width: 230px;
    height: 58px;
    
}

#contacto {
    align-items: center;
    padding: 15%;

}

#contacto img {
    height: 40px;
    width: 40px;
    margin: 10px;
}

#contacto img:hover {
    background-color: #ef79d7;
    height: 70px;
    width: 70px;
    margin: 10px;
}


#contacto ul {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    height: 60px;
    background: #ef79d7;
    width: 100%;
    margin-top: 10px;
}

#contacto article{
    background-color: #ffafb6;
    border-radius: 10%;
    display: flexbox;
    max-width: 100%;
    font-family: 'Roboto Mono', monospace;
}

footer{
    height: 100px;
    width: 100%;
    background-color: #f75ebf;
}

footer p{

    text-align: center;
    line-height: 100px;
}



p {
    padding-bottom: 20px;
}

.color{
    background: #c9c7c7;
}

@media (min-width: 1020px) {
    #inicio ul {
        flex-direction: row;
        display: flex;
        justify-content: space-between;
        align-items: center;
        text-align: left;
    }

    .menu-ini {
        display: initial;
    }

    #logoangela {
        max-height: 90px;
    }


    #inicio article {
        margin: 50px;
    }

    #inicio figure {
        margin: 50px;
    }

    body {
        width: max-content;
        max-width: 100%;
        margin: auto;
        background: #ffffe5;

    }

    section {
        padding-top: 50px;
        padding-bottom: 50px;
    }


    header nav ul {
        position: fixed;
        display: flex;
        justify-content: space-between;
        align-items: center;
        height: 90px;
        background: #ffffe5;
        padding: 30px;
        box-shadow: 0 10px 25px 8px white;
        width: 100%;
    }


    h1 {
        font-size: 48px;
        padding-top: 20px;
        padding-bottom: 20px;
    }

    h2 {
        font-size: 32px;
        padding-top: 20px;
        padding-bottom: 20px;
    }

    #contacto ul {
        background: #ffafb6;
    }
}